<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{%static 'img/logo foodie.png'%}">
    <title>Foodie</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
    {% block body %}

    {% endblock %}

     <footer>
        <p>&copy; 2025 Foodie. All rights reserved. Created By Ashutosh Panda </p>
    </footer>

</body>
</html>
